html{
	padding: 0;
	margin: 0;
	background: #e9ebee;
}

div{
	display: block;
	padding: 0;
	margin: 0px;
	margin-right: 0px;
	border:1px solid #d3d3d3;
}
a{
	list-style: none;
}
ul{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 2px;
	padding: 2px;
}
li{
	padding: 2px;
}


.user_info{
	width: 205px;
	min-height: 200px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0;
	font-family: cursive;
}
.user_info input{
	position: absolute;
	top: 40%;
	left: 18%;
	text-align: center;
	color: black;
}
.user_info span{
	position: absolute;
	font-size: 14px;
	top: 30%;
	left: 60px;	

}
.sidebar{
	background-color: #e9eaed;
	position:fixed;
	right:0;
	bottom: 0;
	width: 205px;
	border-color: black;
}
.header{
	top: 0;
	width: inherit;
	
}
.header div{
	display: inline-block;
}
.content{
	clear: both;
	display: none;
	overflow-y: scroll;
}
.sidebar .content ul li{
	padding-left: 10px;
	width: inherit;
	font-size: 14px; 
	cursor: pointer;
}


.sidebar .content .friends{
	text-decoration: none;
	list-style: none;
	padding-left: 0px;

}

.friends li:hover{
	background-color: #e1e2e5;
}


.chatbox{
	background: white;
	display: none;
	position:fixed;
	right:210px;
	bottom: 0;
	width: 300px;
	border-color: black;
	margin: 0;
}

.chatbox .header{
	background-color: #6d84b4;
	color: white;
	font-weight: bold;
    font-size: 14px;
    padding: 2px;
	width: inherit;
	clear: both;
}

.chatbox .header .left{
	border: none;
 	float: left;
	max-width: 70%;
	overflow-x: hidden;

}
.chatbox .header .right{
	border: none;
	float: right;
	max-width: 20%;
	overflow-x: hidden;

}
.chatbox .header:after{
	clear: both;
	display: block;
	content: "";
}
.chatbox .content{
	height: 200px;
	display: block;
	overflow-y: scroll;
	word-wrap: break-word;
}
.chatbox .content li{
	margin-bottom: 2px;
}
.chatbox .content .recived_message{
	padding: 5px;
	background-color: #f1f0f0;
	clear: both;
	max-width: 80%;
	float: left;
	word-wrap: break-word;
	border-radius: 20px;

}
.chatbox .content .sent_message{
	padding: 5px;
	background-color: #4080ff;
	color: white;
	clear: both;
	max-width: 80%;
	float: right;
	word-wrap: break-word;
	border-radius: 20px;
}
.recived_message + .sent_message {
	border-top-right-radius: 5px;
	
}

.sent_message + .sent_message {
	border-top-right-radius: 1px;
  	border-bottom-right-radius: 1px;
	
}
.sent_message:last-of-type {
	border-bottom-right-radius: 20px;
	
}

.chatbox .footer input{
	width: 100%;
	word-wrap: break-word;
	white-space: pre-wrap;
}

