html{
	padding: 0;
	margin: 0;
}
div{
	display: block;
	padding: 0;
	margin: 2px;
	margin-right: 0px;
	border:1px solid #d3d3d3;
}
a{
	list-style: none;
}
.user_info{
	width: 205px;
	min-height: 200px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0;
	font-family: cursive;
}
.user_info input{
	position: absolute;
	top: 40%;
	left: 18%;
	text-align: center;
	color: black;
}
.user_info span{
	position: absolute;
	font-size: 14px;
	top: 30%;
	left: 60px;	

}
.sidebar{

	position:fixed;
	right:0;
	bottom: 0;
	width: 205px;
	border-color: black;
}

.chatbox{
	display: none;
	position:fixed;
	right:210px;
	bottom: 0;
	width: 205px;
	border-color: black;
}

.header div{
	display: inline-block;
}

.header{
	top: 0;
	height: inherit;
	width: inherit;
	
}
.header .left{

	width:auto;
	max-width: 70%;
	float: left;
	overflow-x: hidden;

}
.header .right{
	
	width: auto;
	max-width: 20%;
	float: right;
	overflow-x: hidden;

}
.chatbox .content{
	height: 200px;
	display: block;
	overflow-y: scroll;
}

.content{
	clear: both;
	display: none;
	overflow-y: scroll;
}
.friends{
	text-decoration: none;
	list-style: none;
	padding-left:  10px;

}
 .header:hover{
	background-color: red;
}
