<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="chat.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="sidebar">
	<div class="header">Friends Online</div>
	<div class="user_info">
		<span>welome there</span>
		<input type="text" name="name_input" placeholder="enter your name">
	</div>
	<div class="content"> This is content
		<ul class="friends">
	
		</ul>
	</div> 
</div>



</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript"  src="main.js"></script>
</html>